#
# myScites .gitignore.  
# Hint: examine ignored files with	git status --ignored
# Hint: When changeiing entries, remember using git rm -r *.* --cached
#

#- temporary objects and archives, anywhere in the tree.
*.o
*.obj
*.pyd
*.a
*.lib
*.class
*.tmp
clidebug.cmd

#- temporary binaries within scintilla and scites bin dir. 
**bin

#- local scite session files 
*.session

#- patch and aStyle backups
*.orig

#- temporary linker files 
win32/*.