#
# myScites .gitignore.  
# Hint: examine ignored files with	git status --ignored[=matching]
# Hint: When changing entries, remember using git rm -r *.* --cached
#

# temporary c/cpp linker files and objects within Scintilla, SciTEs build and lualib dirs
**/c/*.[oa]
**/c/*.obj
**/gtk/*.[oa]
**/gtk/*.obj
**/win32/*.[oa]
**/win32/*.obj

#- build results within bin dirs. 
**/scite/bin/*
**/scintilla/bin/*
**/src/*.build

#- vscode Project patch files
**/ipch/

#- java and Python linker files / vc archives anywhere in the tree.
*.tmp
*.pyd
*.class
*.res
*.exp

#- patch and aStyle backups
*.orig

#- Debugging symbols
*.pdb

#- local scite session files 
*.session
clidebug.cmd

#- ignore lua libs build cache but allow static scite and openssl libs 
!**/clib*
**/clib*/*

