#
# myScites .gitignore.  
# Hint: examine ignored files with	git status --ignored
# Hint: When changing entries, remember using git rm -r *.* --cached
#

#- temporary objects and archives, anywhere in the tree.
*.o
*.obj
*.pyd
*.a
*.lib
*.class
*.tmp
clidebug.cmd

#- temporary binaries within scintilla and scites bin dir. 
**bin

#- local scite session files 
*.session

#- patch and aStyle backups
*.orig

#- temporary linker and executable files 
*.pdb

#- vscode Project files
.vsCode/