/* 	Site settings  */

a:link { color:#7C2D1D; cursor: pointer; }
a:visited { color:#7C2D1D; }
a:hover { color:#7F7F7F; }

html, body {
	border: 0pt none;
	margin: 0pt;
	padding: 0pt;
	background-color: #91703D;
	flex-basis: 25%;   /* <- ..css3 */	
	text-align: center;
}

.container {
	margin: 0pt auto;	
	width: auto;
	min-width: 841px; /* <-  ..css2 */
	height: auto;
	font-family: "Courier New", Courier, mono;
	background:transparent url(material/alle/bg.jpg) center repeat-y 
}	

!important:error
.menue_gaeste a{	width:69px ;height:49px; background-image:url(./gaeste.gif);}
