POPUP "&File"
BEGIN
	MENUITEM "&New\tCtrl+N",		IDM_NEW
	MENUITEM "&Open...\tCtrl+O",		IDM_OPEN
	MENUITEM "Open Selected &Filename\tCtrl+Shift+O",	IDM_OPENSELECTED
	MENUITEM "&Revert\tCtrl+R",		IDM_REVERT
	MENUITEM "&Close\tCtrl+W",		IDM_CLOSE
	MENUITEM "&Save\tCtrl+S",		IDM_SAVE
	MENUITEM "Save &As...\tCtrl+Shift+S",	IDM_SAVEAS
	MENUITEM "Save a Cop&y...\tCtrl+Shift+P",	IDM_SAVEACOPY
	MENUITEM "Copy Pat&h",			IDM_COPYPATH
	POPUP "Encodin&g"
	BEGIN
		MENUITEM "&Code Page Property",		IDM_ENCODING_DEFAULT
		MENUITEM "UTF-16 &Big Endian",		IDM_ENCODING_UCS2BE
		MENUITEM "UTF-16 &Little Endian",	IDM_ENCODING_UCS2LE
		MENUITEM "UTF-8 &with BOM",		IDM_ENCODING_UTF8
		MENUITEM "&UTF-8",		IDM_ENCODING_UCOOKIE
	END
	POPUP "&Export"
	BEGIN
		MENUITEM "As &HTML...",		IDM_SAVEASHTML
		MENUITEM "As &RTF...",		IDM_SAVEASRTF
		MENUITEM "As &PDF...",		IDM_SAVEASPDF
		MENUITEM "As &LaTeX...",	IDM_SAVEASTEX
		MENUITEM "As &XML...",  	IDM_SAVEASXML
	END
	MENUITEM SEPARATOR
	MENUITEM "Page Set&up...",		IDM_PRINTSETUP
	MENUITEM "&Print...\tCtrl+P",		IDM_PRINT
	MENUITEM SEPARATOR
	MENUITEM "&Load Session...",		IDM_LOADSESSION
	MENUITEM "Sa&ve Session...",		IDM_SAVESESSION
	MENUITEM SEPARATOR
	MENUITEM "E&xit",				IDM_QUIT
END

POPUP "&Edit"
BEGIN
	MENUITEM "&Undo\tCtrl+Z",  				IDM_UNDO
	MENUITEM "&Redo\tCtrl+Y",  				IDM_REDO
	MENUITEM SEPARATOR
	MENUITEM "Cu&t\tCtrl+X",				IDM_CUT
	MENUITEM "&Copy\tCtrl+C",				IDM_COPY
	MENUITEM "&Paste\tCtrl+V",				IDM_PASTE
	MENUITEM "Duplicat&e\tCtrl+D",				IDM_DUPLICATE
	MENUITEM "&Delete\tDel",				IDM_CLEAR
	MENUITEM "Select &All\tCtrl+A",			IDM_SELECTALL
	MENUITEM "Copy as RT&F",				IDM_COPYASRTF
	MENUITEM SEPARATOR
	MENUITEM "Match &Brace\tCtrl+E",			IDM_MATCHBRACE
	MENUITEM "Select t&o Brace\tCtrl+Shift+E",	IDM_SELECTTOBRACE
	MENUITEM "S&how Calltip\tCtrl+Shift+Space",	IDM_SHOWCALLTIP
	MENUITEM "Complete S&ymbol\tCtrl+I",		IDM_COMPLETE
	MENUITEM "Complete &Word\tCtrl+Enter",		IDM_COMPLETEWORD
	MENUITEM "Expand Abbre&viation\tCtrl+B",	IDM_ABBREV
	MENUITEM "&Insert Abbreviation\tCtrl+Shift+R",	IDM_INS_ABBREV
	MENUITEM "Block Co&mment or Uncomment\tCtrl+Q",	IDM_BLOCK_COMMENT
	MENUITEM "Bo&x Comment\tCtrl+Shift+B",	IDM_BOX_COMMENT
	MENUITEM "Stream Comme&nt\tCtrl+Shift+Q",	IDM_STREAM_COMMENT
	MENUITEM "Make &Selection Uppercase\tCtrl+Shift+U",	IDM_UPRCASE
	MENUITEM "Make Selection &Lowercase\tCtrl+U",	IDM_LWRCASE
	POPUP "Para&graph"
	BEGIN
		MENUITEM "&Join",						IDM_JOIN
		MENUITEM "&Split",						IDM_SPLIT
	END
END // used: abcdefghilmnoprstuvwxy

POPUP "&Search"
BEGIN
	MENUITEM "&Find...\tCtrl+F",				IDM_FIND
	MENUITEM "Find &Next\tF3",				IDM_FINDNEXT
	MENUITEM "Find Previou&s\tShift+F3",		IDM_FINDNEXTBACK
	MENUITEM "F&ind in Files...\tCtrl+Shift+F",	IDM_FINDINFILES
	MENUITEM "R&eplace...\tCtrl+H",			IDM_REPLACE
	MENUITEM "Incrementa&l Search...\tCtrl+Alt+I",	IDM_INCSEARCH
	MENUITEM "Selection A&dd Next\tCtrl+Shift+D",	IDM_SELECTIONADDNEXT
	MENUITEM "Selection &Add Each",			IDM_SELECTIONADDEACH
	MENUITEM SEPARATOR
	MENUITEM "&Go to...\tCtrl+G",			IDM_GOTO
	MENUITEM "Next Book&mark\tF2",			IDM_BOOKMARK_NEXT
	MENUITEM "Pre&vious Bookmark\tShift+F2",	IDM_BOOKMARK_PREV
	MENUITEM "Toggle Bookmar&k\tCtrl+F2",		IDM_BOOKMARK_TOGGLE
	MENUITEM "&Clear All Bookmarks",			IDM_BOOKMARK_CLEARALL
END

POPUP "&View"
BEGIN
	MENUITEM "Toggle &current fold",		IDM_EXPAND
	MENUITEM "Toggle &all folds",		IDM_TOGGLE_FOLDALL
	MENUITEM SEPARATOR
	MENUITEM "Full Scree&n\tF11",		IDM_FULLSCREEN
	MENUITEM "&Tool Bar",          			IDM_VIEWTOOLBAR
	MENUITEM "Tab &Bar",          			IDM_VIEWTABBAR
	MENUITEM "&Status Bar",          		IDM_VIEWSTATUSBAR
	MENUITEM SEPARATOR
	MENUITEM "&Whitespace\tCtrl+Shift+8", 	IDM_VIEWSPACE
	MENUITEM "&End of Line\tCtrl+Shift+9",	IDM_VIEWEOL
	MENUITEM "&Indentation Guides", 		IDM_VIEWGUIDES
	MENUITEM "&Line Numbers",          		IDM_LINENUMBERMARGIN
	MENUITEM "&Margin",          			IDM_SELMARGIN
	MENUITEM "&Fold Margin",			IDM_FOLDMARGIN
	MENUITEM "&Output\tF8",				IDM_TOGGLEOUTPUT
	MENUITEM "&Parameters\tShift+F8",			IDM_TOGGLEPARAMETERS
END

POPUP "&Tools"
BEGIN
	MENUITEM "&Compile\tCtrl+F7",		IDM_COMPILE
	MENUITEM "&Build\tF7",				IDM_BUILD
	MENUITEM "&Clean\tShift+F7",			IDM_CLEAN
	MENUITEM "&Start\tF5",					IDM_GO
	MENUITEM "&Stop Executing\tCtrl+Break",IDM_STOPEXECUTE
	MENUITEM SEPARATOR
	MENUITEM "&Next Message\tF4",		IDM_NEXTMSG
	MENUITEM "&Previous Message\tShift+F4",IDM_PREVMSG
	MENUITEM "Clear &Output\tShift+F5",	IDM_CLEAROUTPUT
	MENUITEM "&Switch Pane\tCtrl+F6",	IDM_SWITCHPANE
END

POPUP "&Options"
BEGIN
	MENUITEM "Always On Top",			IDM_ONTOP
	MENUITEM "Open Files &Here",		IDM_OPENFILESHERE
	MENUITEM "Vertical &Split",			IDM_SPLITVERTICAL
	MENUITEM "&Wrap",			IDM_WRAP
	MENUITEM "Wrap Out&put",			IDM_WRAPOUTPUT
	MENUITEM "Change Inden&tation Settings",	IDM_TABSIZE
	MENUITEM "Use &Monospaced Font",	IDM_MONOFONT
	MENUITEM "&ReadOnly",				IDM_READONLY
	MENUITEM "Open Local &Options File",		IDM_OPENLOCALPROPERTIES
	MENUITEM "Open &Directory Options File",		IDM_OPENDIRECTORYPROPERTIES
	MENUITEM "Open &User Options File",		IDM_OPENUSERPROPERTIES
	MENUITEM "Open &Global Options File",		IDM_OPENGLOBALPROPERTIES
	MENUITEM "Open A&bbreviations File",		IDM_OPENABBREVPROPERTIES
	MENUITEM "Open Lua Startup Scr&ipt", 		IDM_OPENLUAEXTERNALFILE
	POPUP "&EOL Style"
	BEGIN
		MENUITEM "Carriage/LineFeed",	IDM_EOL_CRLF
		MENUITEM "Carriage",		IDM_EOL_CR
		MENUITEM "Linefeed",		IDM_EOL_LF
		MENUITEM "Convert EOL",		IDM_EOL_CONVERT

	END

END 
// used: abceghmoprstux

POPUP "&Language"
BEGIN
	MENUITEM "", IDM_LANGUAGE
END

POPUP "&Buffers"
BEGIN
	MENUITEM "&Previous\tShift+F6",			IDM_PREVFILE
	MENUITEM "&Next\tF6",			IDM_NEXTFILE
	MENUITEM "&Close All",				IDM_CLOSEALL
	MENUITEM "&Save All",				IDM_SAVEALL
END

POPUP "Debug"
BEGIN
 MENUITEM "Run\tCtrl+Alt+F5",			IDM_DBG_RUN
  MENUITEM "Breakpoint\tAlt+F9",			IDM_DBG_BP
  MENUITEM "Step\tCtrl+Alt+F8",			IDM_DBG_STEPSI
  MENUITEM "Step over\tCtrl+Alt+F10",			IDM_DBG_STEPOV
  MENUITEM "Step out\tCtrl+Alt+F11",			IDM_DBG_STEPOUT
  MENUITEM "End",			IDM_DBG_END
  MENUITEM "Inspect\t",			IDM_DBG_INSPECT
  MENUITEM "Watch\t",			IDM_DBG_WATCH
  MENUITEM "Loca&ls\tCtrl+Alt+L",			IDM_DBG_LOC
  MENUITEM "&Backtrace\tCtrl+Alt+B",			IDM_DBG_BT
END

POPUP "&Help"
BEGIN
	MENUITEM "&Help\tF1", 				IDM_HELP
#ifdef STATIC_BUILD
	MENUITEM "&Sc1 Help",			IDM_HELP_SCITE
	MENUITEM "&About Sc1",				IDM_ABOUT
#else
	MENUITEM "&SciTE Help",			IDM_HELP_SCITE
	MENUITEM "&About SciTE",			IDM_ABOUT
#endif
END